 body {
     background-color: black;
     color: white;
 }

 h1 {
     font-size: 50px;
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
 }

 img {
     border-style: solid;
     border-radius: 15%;
     margin-left: 30px;
     border-color: orangered;
     width: 100%;
     max-width: 450px;
     height: auto;
     object-fit: cover;
     margin-right: 50px;
 }

 .container {
     display: flex;
     gap: 20px;
 }

 h2 {
     color: rgb(138, 11, 11);
 }